{{ content | trim }} 
You are an expert 24 points card game player. You are observing these four cards in the image.
Note that 'J', 'Q', and 'K' count as '10', and each card must be used once.
Your goal is to output a formula that evaluates to 24 using numbers from the cards and operators such as '+', '-', '*', '/', '(', ')', and '='.

[Output]
Your response should be an equation enclosed by <equation></equation>, for example:

#EXAMPLE
I see that the cards are J, 2, 4, K respectively. Let me try to find a formulat that evaluates to 24.
Since J is 10, 10*2 is 20, and adding 4 is 24, which is what I need.
So it's 10*2+4
<equation>10*2 + 4</equation>